<ion-view class="main-content">
    <ion-content class="layer">
        <div class="row">
            <div class="col">
                <div class="main-box">
                    <div class="logo">
                        <img src="img/jfp-logo.jpg" alt="logo" title="logo"/>
                    </div>

                    <div class="search">
                        <button class="pet-search">
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>