<ion-view class="pets-content">
    <ion-content>
    JFJFJG
        <div class="row" ng-repeat="arrayPet in dC.pets">
            <div class="col col-pet" ng-repeat="pet in arrayPet">
                <div class="pet-photo-wrap" data-link="">
                    <div class="pet-photo">
                    </div>
                    <img src="{{pet.large_results_photo_url}}">
	                <span class="pet-title">{{pet.pet_name}}</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>